.container-fluid,
.container,
.row,
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    padding: 0;
    // margin: 0;
}

body {
    font-size: 16px;
}


header {
    height: 50px;
    background-color: #0066b3;

    .topBar {
        .left {
            float: left;

            a {
                font-size: 16px;
                color: #1dd9e2;
                line-height: 50px;
                margin-right: 12px;
            }
        }

        .right {
            float: right;

            a {
                font-size: 16px;
                color: #1dd9e2;
                line-height: 50px;

                &.include {
                    margin-right: 12px;
                }
            }

            span {
                font-size: 16px;
                width: 2px;
                height: 15px;
                color: #1dd9e2;
                display: inline-block;
                line-height: 50px;
                margin: 0 12px;
            }
        }
    }

}

section {
    .navbar {
        border: 0;

        .navbar-header {
            .navbar-brand {
                padding-top: 10px;
                padding-right: 10px;
            }

            .select {
                width: 72px;
                height: 24px;
                border: 1px solid #cccccc;
                box-sizing: border-box;
                line-height: 20px;
                padding-left: 6px;
                display: inline-block;
                margin: 18px 0 0 0;
                font-size: 12px;

                i {
                    margin-left: 20px;
                    color: #ccc;
                }
            }

            .line {
                width: 1px;
                height: 36px;
                background-color: #eee;
                margin: -8px 10px 0 12px;
                display: inline-block;
                vertical-align: middle;
            }
        }

        .collapse {
            .navbar-nav {
                font-size: 14px;
                color: #333333;
                padding-left: 15px;
            }
        }
    }

    .main {
        max-width: 960px;

        .items {
            background-color: #ffd6b8;
            padding: 0 50px 20px;

            .item {
                .itemtitle {
                    color: #963f21;
                    font-size: 30px;
                    line-height: 40px;
                    margin: 6px 0;
                    cursor: pointer;
                    border: 1px solid #ccc;
                    padding-left: 20px;
                    background-color: #fff;
                    border-radius: 20px;

                    .glyphicon {
                        float: right;
                        margin-right: 20px;
                        font-size: 20px;
                        line-height: 40px;
                    }
                }

                .itemtext {
                    display: none;
                    font-size: 20px;
                    line-height: 24px;
                    padding: 0 10px;
                }
            }
        }
    }

    .share {
        margin-top: 43px;

        .title {
            font-size: 15px;
            color: #333333;
            padding-bottom: 18px;
            border-bottom: 2px solid #eeeeee;
        }

        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                margin-top: 20px;
                margin-right: 24px;

                a {
                    &:hover {
                        color: #a8a8a8;
                    }

                    img {
                        margin-right: 7px;
                    }
                }
            }
        }
    }

    .more {
        margin-top: 47px;

        .title {
            font-size: 15px;
            color: #333333;
            padding-bottom: 18px;
            border-bottom: 2px solid #eeeeee;
        }

        ul {
            padding: 0 0 0 26px;
            display: flex;
            flex-wrap: wrap;

            li {
                margin-top: 20px;
                margin-right: 50px;
            }
        }
    }
}



footer {
    .bottomnav {
        background-color: #025a9d;
        margin-top: 56px;

        .w {
            display: flex;

            >a {
                &:not(:last-of-type) {
                    margin-right: 19px;
                }

                img {
                    margin-top: 8px;
                    width: 94px;
                    height: 34px;
                }
            }

            ul {
                display: flex;
                flex-wrap: wrap;

                li {
                    margin-left: 19px;

                    a {
                        line-height: 50px;
                        color: #1dd9e2;

                        &:hover {
                            color: #fff;
                        }
                    }

                    span {
                        line-height: 50px;
                        color: #1dd9e2;
                    }
                }
            }
        }
    }

    .copyright {
        background-color: #0066b3;

        .w {
            display: flex;
            padding-top: 48px;
            flex-wrap: wrap;

            >img {
                width: 22px;
                height: 28px;
                margin: 10px 18px 0 0;
            }

            .content {
                color: #fff;

                span {
                    padding-right: 25px;
                    line-height: 2.0;
                    display: inline-block;
                }
            }

            .qrcode {
                >div {
                    float: left;
                    background: #fff;
                    width: 60px;
                    margin-left: 34px;
                    text-align: center;
                    color: #0066b3;
                    line-height: 15px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    font-size: 12px;

                    img {
                        width: 57px;
                        height: 57px;
                    }
                }
            }
        }
    }
}


@media screen and(min-width:768px) {
    section {
        .navbar {
            height: 80px;

            .navbar-header {
                .navbar-brand {
                    padding-top: 26px;
                }

                .select {
                    margin: 35px 0 0 0;
                }

                .line {
                    margin: 0 10px 0 12px;
                }
            }

            .collapse {
                .navbar-nav {
                    li {
                        a {
                            line-height: 60px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width:990px) {
    header {
        .topBar {
            padding: 0 15px;
        }
    }

    section {
        .main {
            .navbar {
                .navbar-header {
                    padding: 0 0 0 15px;
                    margin: 0;
                }
            }

            .items {
                padding: 20px;
                background-color: #fff1e4;
            }
        }

        .share {
            padding: 0 15px 0;
        }

        .more {
            padding: 0 15px 0;
        }
    }

    footer {
        .bottomnav {
            .w {
                padding: 0 15px;
            }
        }

        .copyright {
            .w {
                padding: 0 15px;
            }
        }
    }
}

@media screen and(max-width:770px) {
    section {
        .navbar {
            .navbar-header {
                padding: 0;
                margin: 0;
            }
        }

        .main {
            .items {
                padding: 10px;

                .item {
                    .itemtext {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media screen and(max-width:400px) {
    header {

        // height: 0.5rem;
        .topBar {
            padding: 0 0.4rem;

            .left {
                height: 50px;

                a {
                    margin-right: 0rem;
                    font-size: 0.12rem;
                }
            }
        }
    }

    section {
        .navbar {
            margin-bottom: 0.6rem;

            .navbar-header {
                .navbar-brand {
                    img {
                        width: 10rem;
                    }
                }

                .select {
                    width: 5.2rem;
                    width: auto;
                    margin-top: 1rem;
                    margin-left: 1.8rem;

                    i {
                        margin-left: 0.4rem;
                        margin-right: 0.2rem;
                    }
                }
            }
        }

        .main {
            .items {
                padding: 0 1rem 0rem;

                .item {
                    .itemtitle {
                        font-size: 1.2rem;
                        line-height: 2rem;
                        padding-left: 1rem;

                        .glyphicon {
                            font-size: 1.2rem;
                            line-height: 2rem;
                            margin-right: 1rem;
                        }
                    }

                    .itemtext {
                        padding: 0;
                        line-height: 1.6rem;
                    }
                }
            }
        }

        .share {
            margin-top: 1.6rem;
            font-size: 1.2rem;

            .title {
                padding-bottom: 0.8rem;
            }
        }

        .more {
            margin-top: 1.6rem;
            font-size: 1.2rem;

            .title {
                padding-bottom: 0.8rem;
            }

            ul {
                padding: 0 0 0 0.4rem;

                li {
                    margin: 20px 1rem 0 0;

                    img {
                        width: 10rem;
                    }
                }
            }
        }
    }

    footer {
        font-size: 1.2rem;

        .bottomnav {
            margin-top: 1.6rem;

            .w {
                ul {
                    margin-bottom: 1.5rem;

                    li {
                        margin-left: 0.4rem;
                        height: 2rem;
                    }
                }
            }
        }

        .copyright {
            .w {
                .qrcode {

                    .wb,
                    .wx,
                    .app {
                        margin-left: 0.6rem;
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

@media screen and(max-width:250px) {
    .xxs {
        display: none;
    }
}

@media screen and(max-width:200px) {
    section {
        .navbar {
            .navbar-header {
                .navbar-brand {
                    img {
                        width: 8rem;
                    }
                }

                .select {
                    margin-top: 0.6rem;
                    margin-left: 0.6rem;
                }
            }
        }

        .main {
            .items {
                .item {
                    .glyphicon {
                        display: none;
                    }
                }
            }
        }

        .more {
            ul {
                li {
                    img {
                        width: 8rem;
                    }
                }
            }
        }
    }
}

// @media screen and(max-width:200px) {
//     section {
//         .navbar {
//             .navbar-header {
//                 .navbar-brand {
//                     img {
//                         width: 8rem;
//                     }
//                 }
//             }
//         }
//     }
// }